@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Defino los estilos globales de la pagina */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

/* Defino las variable css para los colores */
:root{
    --color-fondo: #F3F5FC;
    --color-azul: #0A3871; 
    --color-blanco: #ffffff;
    --color-negro: #000000;    
}


/* Configuracion del body y html */

body, html {    
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);        
}

/* Defino el margen del main y su comportamiento flex-box */
main{
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 5.5%; 
    min-height: 100vh;
       
}

/* En esta caja defino lo que es el logo, text-area y los botones   */
.elementos_izq{    
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);  
    width: 65%;  
    height: 100vh;
    justify-content: space-between;
}

/*  Defino la columna de la derecha que es donde aparecen los elementos iniciales 
y tambien saldra la nueva caja con el texto encriptado o desencriptado  */
.elementos_der{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: auto;
    border-radius: 1.5rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);    
    align-items: center;
}

/* Dimensiones del logo*/
.logo{
    width: 7.5rem;
    height: 3rem;
}

/* Estilo el formulario para que tenga comportamiento flex-box, quise usar formulario
aunque sé que no es necesario, solo es costumbre */
form{
    display: flex;
    flex-direction: column;
    padding-left: 12.5rem;    
    gap: 1rem;
    height: auto;
    width: 100%;
}

/* Dimensiones de la text-area */
#myForm textarea{ 
    height: 60vh; /* 60% del alto del viewport */ 
    width: 100%; 
    border: none;
    font-weight: 400; 
    background-color: var(--color-fondo);
    line-height: 1.5;      
    color: var(--color-azul); 
    font-size: 2rem;
    outline: none; 
    overflow: hidden; /* Oculto las barras de desplazamiento */
    resize: none; /* Desactivo el redimensionamiento manual */ 
}

/* Defino el placeholder de la text-area */
form textarea::placeholder{
    text-align: initial;
    color: var(--color-azul);
}

/* Defino el aviso que va a salir debajo de la text-area con la pseudoclase after */
.aviso::after{
    content: url("../assets/aviso.svg");
}

/* Acá le doy estilo a la caja de los botones del formulario y se alinean en 
fila los botones  */
.botones{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* Estilo los botones del formulario   */
.botones button{
    width: 49%;
    padding: 1.5rem;
    border-radius: 1.5rem; 
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--color-negro);  
}

/* Utilizo el pseudoclase nth-child para darle estilo al botón de encriptar */
.botones button:nth-child(1), .botones button:active:nth-child(1){   
    background-color: var(--color-azul);
    color: var(--color-blanco);
}

.botones button:hover:nth-child(1){   
    background-color: #011a3b;
    color: var(--color-blanco);
}


/* Utilizo el pseudoclase nth-child para darle estilo al botón de desencriptar */
.botones button:nth-child(2){
    background-color: #D8DFE8;
    color: var(--color-azul);
}

.botones button:hover:nth-child(2){
    background-color: #bdc2c8;
    color: var(--color-azul);
}

/* Defino el estilo de la caja inicial para el flexbox */
.elementos_der>.initialFlex {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--color-blanco);
    justify-content: center;
    border-radius: 1.5rem;
    align-items: center;
    flex-direction: column;
}

/* Los parrafos de la caja que se muestra a la derecha inicialmente */
.initialFlex p{
    color: var(--color-negro);
    margin: 1rem 2rem 0 2rem;    
    text-align: center;
}

/* Estilo los parrafos de la caja inicial usando el pseudoclase nth-of-type 
para darle estilo a los dos primeros parrafos */
.initialFlex p:nth-of-type(1){
    font-size: 1.5rem;
    font-weight: 600;    
}

.initialFlex p:nth-of-type(2){
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
}

/* Defino el nuevo estilo para la nueva flexbox ya que cuando presiono el boton
de encriptar o desencriptar, cambia el comportamiento de la caja inicial a la derecha*/
.elementos_der>.newFlex {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    text-align: start;
    background-color: var(--color-blanco);
    border-radius: 1.5rem;
    flex-direction: column;  
    box-sizing: border-box;       
}

/* Estilo el div con el resultado de la encriptacion o desencriptacion */
.newFlex>#result{    
    margin: 2rem;
    overflow: hidden; /* Oculta el desbordamiento */
    font-size: 1.5rem;  
    color: #495057; 
    line-height: 1.5; /* Espacio entre lineas */
}

/* Defino el tamanio acorde al tamaño de viewport ya que el tamanio de la pantalla
varia dependiendo del dispositivo que se use, es la forma mas apropiada para
pantallas extragrandes*/

.muneco{
    width: 100%;
    height: auto;
}

/* Estilo la caja del boton que sale con el texto encriptado o desencriptado, el 
boton copiar */
.boton {    
    width: auto;
    color: var(--color-azul);
    height: 4.1875rem;
    border: 1px solid var(--color-azul);
    background-color: var(--color-blanco);
    padding: 15px;
    font-size: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 2rem;
}

/* Estilo el hover de los boton copiar */
.boton:hover {
    background-color: var(--color-azul);
    color: var(--color-blanco);
}

/* Estilos para el footer */
footer {
    position: relative;    
    width: 100%;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    text-align: center;
    padding: 1.25rem 0;

}

/* margin para los parrafos del contenedor del footer */
.footer-content p {
    margin: 0.3125rem 0;
    font-size: 1rem;
}

/* margin para la caja de los iconos del footer */
.social-icons {
    margin-top: 0.625rem;
}

/* Estilo los iconos del footer */
.social-icons a {
    color: var(--color-blanco);
    text-decoration: none;
    margin: 0 0.625rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}


.social-icons a:hover {
    color: #D8DFE8;
}

/* Toast de notificaciones*/
.notifications {
    position: fixed;
    top: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;
    max-width: 31.25rem;
    text-align: center;
}

/* Estilo el toast */
.toast {
    position: relative;
    padding: 0.625rem;
    color: var(--color-azul);
    margin-bottom: 0.625rem;
    width: 25rem;
    display: grid;
    grid-template-columns: 4.375rem 1fr 4.375rem;
    border-radius: 0.3125rem;
    background-image: linear-gradient(to right, var(--color-blanco) , #f0f0f2 30%);
    animation: show 0.3s ease 1 forwards;
}

/* Estilo los iconos del toast */
.toast i {
    color: var(--color-azul);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

/* Estilo el contenido del toast */
.toast .content {
    text-align: left;
}

/* Estilo el titulo del toast */
.toast .title {
    font-size: x-large;
    font-weight: bold;
}

/* Estilo el span del toast */
.toast span, .toast i:nth-child(3) {
    color: var(--color-azul);
}

/* Estilo la animacion del toast */
@keyframes show {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

/* Estilo la animacion de la barra de tiempo */
.toast::before {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-azul);
    width: 100%;
    height: 0.1875rem;
    content: '';
    box-shadow: 0 0 0.625rem var(--color-azul);
    animation: timeOut 1.5s linear forwards;
}

/* Estilo la animacion de la barra de tiempo */
@keyframes timeOut {
    to {
        width: 0;
    }
}




/* Estilos para tabletas */
@media (max-width: 1024px){

    main {
        flex-direction: column;
        margin: 2.5rem;
        gap: 4rem;
        box-sizing: border-box;
        justify-content: space-between;
        min-height: 80vh;
    }

    .elementos_izq {
        width: 100%;
        margin: 0 0 auto 0;
        height: auto;
    }

    
    .elementos_der {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo {
        width: 32px;
        height: auto;        
        margin: 0 auto 0 0;
    }

    form {
        display: flex;
        flex-direction: column;        
        margin-top: 7.3125rem;
        align-items: center;
        font-size: 3rem;
        width: 100%;
        height: auto;
        padding:0;
    }

    #myForm textarea {
        width: 100%;
        height: 40vh;
        font-size: 1.5rem;
    }

    .aviso{
        margin-right: auto;
    }

    .botones {       
        width: 100%;
        height: auto;
        padding: 0;
        flex-direction: row;
        gap: 1.5rem;
    }

    .botones button {
        width: 100%;
    }

    .elementos_der>.initialFlex {
        margin: 32px;
    }

    .muneco {
        display: none;
    }

    .newFlex>.boton {
        width: auto;  
        height: 67px;
        font-size: 1rem;
    }

    footer {
        margin-top: 40px;
    }

    .footer-content p {
        font-size: 1rem;
    }

    .social-icons a {
        font-size: 1.5rem;
    }

    .toast {
        width: 100%;
        max-width: auto;
        grid-template-columns: 50px 1fr 50px;
    }
}


/* Estilos para celulares */
@media (max-width: 768px){

    .botones{
        flex-direction: column;
    }

    main{
        flex-direction: column;
        margin: 1rem;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        gap:1rem;
    }

   
    .elementos_der>.initialFlex {        
        height: 20%;
        width: auto;
        margin: 1rem;
    }

    .elementos_der{
        background-color: #ffffff;
    }

    form{
        height: 750px;
    }

    
    .logo{
        width: 32px;
        height: 48px;
    }

        
    form{
        margin-top:3.5rem;
        height: 60%;
    }   


    .toast {
        position: relative;
        width: 100%;
        grid-template-columns: 2rem 1fr 2rem;
        margin-left: auto;
    }

    .content *{
        margin-left: 30px;
    }

    .notifications {
        position: fixed;
        top: 1.25rem;
        z-index: 1000;
        width: 100%;
        max-width: auto;
        transform: translateX(-40%);
        text-align: center;
    }
    
}